In [3]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("./sensors.db")
cur = conn.cursor()

# List tables

In [4]:
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables_in_sqlite_db(conn)

['bme280', 'dht22', 'sds011', 'laerm']

# Explore table `bme280`

In [5]:
query = "SELECT * FROM bme280";
df_bme280 = pd.read_sql_query(query, conn)
display(df_bme280)
df_bme280.info()

,index,sensor_id,sensor_type,location,lat,lon,timestamp,pressure,altitude,pressure_sealevel,temperature,humidity
0,0,10006,BME280,5042,42.626,23.382,2021-11-22T00:01:02,94185.97,None,None,3.42,100.0
1,1,10006,BME280,5042,42.626,23.382,2021-11-22T00:03:30,94183.28,None,None,3.25,100.0
2,2,10006,BME280,5042,42.626,23.382,2021-11-22T00:05:57,94176.81,None,None,2.93,100.0
3,3,10006,BME280,5042,42.626,23.382,2021-11-22T00:08:24,94184.28,None,None,2.79,100.0
4,4,10006,BME280,5042,42.626,23.382,2021-11-22T00:10:53,94179.09,None,None,2.79,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2830469,568,9969,BME280,5025,48.890,9.278,2021-11-22T23:48:58,99792.44,None,None,3.01,69.52
2830470,569,9969,BME280,5025,48.890,9.278,2021-11-22T23:51:24,99791.78,None,None,2.99,69.83
2830471,570,9969,BME280,5025,48.890,9.278,2021-11-22T23:53:51,99788.41,None,None,2.97,69.8
2830472,571,9969,BME280,5025,48.890,9.278,2021-11-22T23:56:17,99783.53,None,None,2.93,69.53
2830473,572,9969,BME280,5025,48.890,9.278,2021-11-22T23:58:44,99790.72,None,None,2.92,69.72

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830474 entries, 0 to 2830473
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   index              int64
 1   sensor_id          int64
 2   sensor_type        object
 3   location           int64
 4   lat                float64
 5   lon                float64
 6   timestamp          object
 7   pressure           float64
 8   altitude           object
 9   pressure_sealevel  object
 10  temperature        object
 11  humidity           object
dtypes: float64(3), int64(3), object(6)
memory usage: 259.1+ MB

# Explore table dht22

In [6]:
query = "SELECT * FROM dht22";
df_dht22 = pd.read_sql_query(query, conn)
display(df_dht22)
df_dht22.info()

,index,sensor_id,sensor_type,location,lat,lon,timestamp,temperature,humidity
0,0,10010,DHT22,5044,48.652,9.250,2021-11-22T00:57:31,3.0,99.9
1,1,10010,DHT22,5044,48.652,9.250,2021-11-22T02:10:53,2.7,99.9
2,2,10010,DHT22,5044,48.652,9.250,2021-11-22T02:13:21,2.2,99.9
3,3,10010,DHT22,5044,48.652,9.250,2021-11-22T02:15:48,2.6,99.9
4,4,10010,DHT22,5044,48.652,9.250,2021-11-22T02:18:28,2.7,99.9
...,...,...,...,...,...,...,...,...,...
3566112,566,9998,DHT22,5038,53.064,8.624,2021-11-22T23:49:25,5.8,99.9
3566113,567,9998,DHT22,5038,53.064,8.624,2021-11-22T23:51:53,5.8,99.9
3566114,568,9998,DHT22,5038,53.064,8.624,2021-11-22T23:54:21,5.9,99.9
3566115,569,9998,DHT22,5038,53.064,8.624,2021-11-22T23:56:49,5.9,99.9
3566116,570,9998,DHT22,5038,53.064,8.624,2021-11-22T23:59:17,5.9,99.9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566117 entries, 0 to 3566116
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   index        int64
 1   sensor_id    int64
 2   sensor_type  object
 3   location     int64
 4   lat          float64
 5   lon          float64
 6   timestamp    object
 7   temperature  object
 8   humidity     object
dtypes: float64(2), int64(3), object(4)
memory usage: 244.9+ MB

# Explore table sds011

In [7]:
query = "SELECT * FROM sds011";
df_sds011 = pd.read_sql_query(query, conn)
display(df_sds011)
df_sds011.info()

,index,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2
0,0,1000,SDS011,489,47.806,12.858,2021-11-22T00:00:42,24.3,None,None,16.7,None,None
1,1,1000,SDS011,489,47.806,12.858,2021-11-22T00:02:46,24.3,None,None,16.9,None,None
2,2,1000,SDS011,489,47.806,12.858,2021-11-22T00:04:48,26.03,None,None,19.07,None,None
3,3,1000,SDS011,489,47.806,12.858,2021-11-22T00:06:51,25.47,None,None,16.87,None,None
4,4,1000,SDS011,489,47.806,12.858,2021-11-22T00:08:53,24.57,None,None,16.87,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7227179,565,9997,SDS011,5038,53.064,8.624,2021-11-22T23:49:24,1918.57,None,None,476.23,None,None
7227180,566,9997,SDS011,5038,53.064,8.624,2021-11-22T23:51:52,1999.9,None,None,553.97,None,None
7227181,567,9997,SDS011,5038,53.064,8.624,2021-11-22T23:54:20,1972.37,None,None,533.13,None,None
7227182,568,9997,SDS011,5038,53.064,8.624,2021-11-22T23:56:49,1360.8,None,None,329.4,None,None
7227183,569,9997,SDS011,5038,53.064,8.624,2021-11-22T23:59:17,1798.47,None,None,363.7,None,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7227184 entries, 0 to 7227183
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   index        int64
 1   sensor_id    int64
 2   sensor_type  object
 3   location     int64
 4   lat          float64
 5   lon          float64
 6   timestamp    object
 7   P1           object
 8   durP1        object
 9   ratioP1      object
 10  P2           object
 11  durP2        object
 12  ratioP2      object
dtypes: float64(2), int64(3), object(8)
memory usage: 716.8+ MB

# Explore table laerm

In [8]:
query = "SELECT * FROM laerm";
df_laerm = pd.read_sql_query(query, conn)
display(df_laerm)
df_laerm.info()

,index,sensor_id,sensor_type,location,lat,lon,timestamp,noise_LAeq,noise_LA_min,noise_LA_max,noise_LA01,noise_LA95
0,0,12000,Laerm,40817,51.52,9.954,2021-11-22T00:00:23,44.24,37.88,57.84,None,None
1,1,12000,Laerm,40817,51.52,9.954,2021-11-22T00:02:54,43.65,34.69,57.24,None,None
2,2,12000,Laerm,40817,51.52,9.954,2021-11-22T00:05:23,43.54,36.20,54.87,None,None
3,3,12000,Laerm,40817,51.52,9.954,2021-11-22T00:07:51,44.02,34.31,57.94,None,None
4,4,12000,Laerm,40817,51.52,9.954,2021-11-22T00:10:20,43.51,35.31,56.38,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
249712,6096,67326,Laerm,54218,52.12,5.192,2021-11-22T23:59:12,41.97,40.19,44.13,None,None
249713,6097,67326,Laerm,54218,52.12,5.192,2021-11-22T23:59:23,41.93,39.77,43.79,None,None
249714,6098,67326,Laerm,54218,52.12,5.192,2021-11-22T23:59:33,42.09,40.32,44.29,None,None
249715,6099,67326,Laerm,54218,52.12,5.192,2021-11-22T23:59:44,41.82,39.73,43.75,None,None
249716,6100,67326,Laerm,54218,52.12,5.192,2021-11-22T23:59:54,41.91,39.90,43.71,None,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249717 entries, 0 to 249716
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         249717 non-null  int64
 1   sensor_id     249717 non-null  int64
 2   sensor_type   249717 non-null  object
 3   location      249717 non-null  int64
 4   lat           249717 non-null  float64
 5   lon           249717 non-null  float64
 6   timestamp     249717 non-null  object
 7   noise_LAeq    249155 non-null  float64
 8   noise_LA_min  249155 non-null  float64
 9   noise_LA_max  249155 non-null  float64
 10  noise_LA01    0 non-null       object
 11  noise_LA95    0 non-null       object
dtypes: float64(5), int64(3), object(4)
memory usage: 22.9+ MB